streamlit
spacy>=3.5.2,<3.6.0
thinc>=8.1.8,<8.2.0
transformers
torch>=2.0,<2.1
pandas
plotly
requests
beautifulsoup4
sentencepiece
scikit-learn
numpy<1.26  # Add this to avoid issues with numpy 2.0
aiohttp
bcrypt
wheel
