streamlit
spacy>=3.5.2
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl
thinc>=8.1.8
transformers
torch>=2.0
pandas
plotly
requests
beautifulsoup4
sentencepiece
scikit-learn
numpy
aiohttp
bcrypt
wheel
